<div class="container center-screen">
  <mat-card class="example-card">
    <mat-card-content>
      <div class="row">
        <div class="col-md-4"><span class="glyphicon glyphicon-earphone"></span></div>
        <div class="col-md-4"><p>06678787</p></div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-4"><span class="glyphicon glyphicon-inbox"></span></div>
        <div class="col-md-4">teundeclercq@gmail.com</div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-4"><span class="glyphicon glyphicon-earphone"></span></div>
        <div class="col-md-4">Professor Goossenslaan 10</div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

