<div class="container">
  <div *ngIf="!checkAdmin()" class="row">
    <div class="col-md-12">
      <div class="alert alert-danger">
        <h4 class="alert-heading">Oops!</h4>
        <p>It appears you aren't a travel agent. If you are, please hang tight, we're loading your data.</p>
        <hr>
        <p class="mb-0">You can also return to the <a routerLink="/">homepage</a>.</p>
      </div>
    </div>
  </div>
  <div *ngIf="checkAdmin()" class="row">
    <div class="col-md-8 offset-2">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">documentName</th>
          <th scope="col">documentType</th>
          <th scope="col">data</th>
        </tr>
        </thead>
        <tbody>
<!--        add ngfor loop here for populate tr with documents-->
        <tr>
          <th scope="row">idnummer</th>
          <td>documentName</td>
          <td>documentType</td>
          <td><button class="mat-raised-button">Download</button></td>
          <td><button class="mat-raised-button">Delete</button></td>
          <td><button class="mat-raised-button">Update</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
