<h1 mat-dialog-title>PortfolioModel</h1>
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" id="title" name="title" placeholder="Enter Title of the PortfolioModel" ngModel class="form-control" required>
  </div>
  <div class="form-group">
    <label for="subtitle">Subtitle</label>
    <input type="text" id="subtitle" name="subtitle" placeholder="Enter Subtitle of the PortfolioModel" ngModel class="form-control" required>
  </div>
  <div class="form-group">
    <label for="image">Image</label>
    <input type="file" (change)="onFileSelectedImage($event)" name="image" id="image" class="form-control" required ngModel accept=".image/jpeg, image/png">
  </div>
  <div class="form-group">
    <label for="description">Content</label>
    <textarea type="text" id="description" name="description" placeholder="Enter Subtitle of the PortfolioModel" ngModel class="form-control" required cdkTextareaAutosize
              cdkAutosizeMinRows="2"
              cdkAutosizeMaxRows="5"></textarea>
  </div>

<!--  Add document - later feature... -->
<!--  <div class="form-group">-->
<!--    <label for="file">File</label>-->
<!--    <input type="file" (change)="onFileSelectedDocument($event)" name="file" id="file" class="form-control" ngModel accept=".docx,.doc,.pdf,application/pdf,application/msword,-->
<!--  application/vnd.openxmlformats-officedocument.wordprocessingml.document">-->
<!--  </div>-->
  <button mat-raised-button type="submit">submit</button>
  <button mat-raised-button (click)="onNoClick()">No Thanks</button>
</form>

