<div class="container center-screen">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>About</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Want to document your own product, then this is the website for you.
        Portfolio is the website where you can document and upload images of your own product.
        <a (click)="toRegisterPage()">Click here to register. </a>Already have an account? <a (click)="toLoginPage()">Click here to login</a></p>
    </mat-card-content>
  </mat-card>
</div>


