<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarPortfolio">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">Brand</a>
    </div>
    <div class="collapse navbar-collapse navbar-right" id="navbarPortfolio">
      <ul class="nav navbar-nav">
        <li class="nav-item"><a class="nav-link" id="home-tab" routerLink="home" href="#home" routerLinkActive="active" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">Home</a></li>
        <li class="nav-item"><a class="nav-link" id="about-tab" routerLink="about" href="#about" routerLinkActive="active" data-toggle="tab" role="tab" aria-controls="about" aria-selected="false">About</a></li>
        <li class="nav-item"><a class="nav-link" id="portfolio-tab" routerLink="portfolio" href="#portfolio" routerLinkActive="active" data-toggle="tab" role="tab" aria-controls="portfolio" aria-selected="false">Portfolio</a></li>
        <li class="nav-item"><a class="nav-link" id="contact-tab" routerLink="contact" href="#contact" routerLinkActive="active" data-toggle="tab" role="tab" aria-controls="contact" aria-selected="false">Contact</a></li>
        <li class="nav-item"><a class="nav-link" id="login-tab" routerLink="login" href="#login" routerLinkActive="active" data-toggle="tab" role="tab" aria-controls="login" aria-selected="false">Login</a></li>
        <li class="nav-item"><a class="nav-link" id="register-tab" routerLink="register" href="#register" routerLinkActive="active" data-toggle="tab" role="tab" aria-controls="register" aria-selected="false">Register</a></li>
      </ul>
    </div>
  </div>
</nav>
