/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/background-blur-clean-531880.jpg");
  color: white;
  font-size: 30px;
  font-family: "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.center-screen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80vh;
}
